p {
  font-size: 22px;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-family: Verdana;
  color: white;
  margin: 0px
}

.header {
  display: flex;
  font-size: 22px;
  border-bottom: 2px solid white;
  z-index:2;
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: black;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.navigation-items {
  margin: 0px;
}

.navigation-items li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.navigation-items li span a {
  color: white;
}

.logo img {
  height: 50px;
  padding: 0 10px;
}

.container1  {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  max-width: 1200px;
  background-color: black;
  position: relative;
  top: 77px;
}

.mission  {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
  background-size: cover;
}

.main-textblock {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
}

.mainrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: stretch;
  padding: 70px 0;
}

.mainrow.locations {
  background-image: url(../images/img-locations-background.jpg);
  background-size: cover;
}

.rowtitle {
  text-align: center;
}

.rowitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.item.locations {
  background-color: black;
  flex-basis: 280px;
  margin: 5px 10px;
  padding: 10px;
  text-align: center;
}

.item img {
  height: 200px;
}

.item span  {
  font-weight: bold;
  padding: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: 77px;
  align-items: stretch;
}

.footertop ul  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.footertop ul li{
  display: inline-block;
}

.footerbottom {
  padding: 0 20px;
}
